.phrases li {
    background-color: yellow;
}

.phrases li:nth-child(2n) {
    color: green;
}

.phrases li:nth-child(2n+1) {
    text-transform: uppercase;
}

.red-font {
    color: red;
}

.red-font em {
    font-size: 40px;
    border: 1px solid black;
}