.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 35%;
  margin: 15px 10px;
  border: 1px black solid;
  border-radius: 10px;
  background-color: #51AE5F;
  color: white;
}

@media screen and (max-width: 650px) {
  .pokemon {
    font-size: xx-small;
  }  
}