.super-mario {
    width: 100px;
    position: absolute;  
  }
  
  .goomba {
    width: 75px;
    position: absolute;
    top: 240px;
    left: 25px
  }
  
  .baloon {
    position: absolute;
    left: -1000px;
  }
  
  .speach {
    font-size: 25px;
  }
  
  p {
    position: absolute;
    left: -1000px;
  }

  .bowser {
    width: 270px;
    position: absolute;
    left: -1000px;
  }